---
# This scenario shows how to use network policies to restrict
# the access to CEEMS LB.

# Default value has no backend. Define a dummy backend here for web server to start
config:
  strategy: round-robin
  backends:
    - id: myk8s-kube-rbac-proxy
      tsdb:
        - web:
            url: http://prometheus.{{ include "ceems-lb.namespace" . }}:9090
      pyroscope:
        - web:
            url: http://pyroscope.{{ include "ceems-lb.namespace" . }}:4040

# Enable network policy for CEEMS LB
networkPolicy:
  enabled: true
  # Allow ingress from Grafana
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: grafana
  # Allow ALL egress
  egress:
    - {}
